img {
  margin-top: 10%;
  border-radius: 50%;
  position: relative;
  top: 30px;
  width: 100px;
  height: 100px;
  }
  
  :host {
      ::ng-deep 
      .p-card{
          margin:auto;
          padding:10px;
          text-align: center;
        
      }    

      ::ng-deep.p-card-footer{
        text-align: -webkit-center;      
     }   
  
      ::ng-deep.p-card-header{
         background-color: currentColor;       
      }    

      ::ng-deep.p-card-title{
        position:relative;
        top:23px;      
     }  

      ::ng-deep.p-button {
        display: block;
        margin: 10px;
        width: -webkit-fill-available;
      }
  }